<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_change_filter %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_change_filter %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

      <div>
      分类筛选:
        <label class="checkbox-inline">
          <input type="checkbox" class="order_catalog" value="1" checked="checked"> 话费卡
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_catalog" value="2" checked="checked"> 实物道具
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_catalog" value="3" checked="checked"> 游戏道具
        </label>
      </div>
      <div>
      状态筛选:
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="0" checked="checked"> 确认中
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="1" checked="checked"> 发放中
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="2" checked="checked"> 发放成功
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" class="order_status" value="3" checked="checked"> 已取消
        </label>
      </div>

      <!-- content end -->
      
    </div>
  </section>
</div>