<div class="col-md-8">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_active_cdkey_detail %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_active_cdkey_detail %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->
	  <div id="cdkey-list"/>
      <!-- content end -->
      
    </div>
  </section>
</div>