<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_broadcast_famousonline %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_broadcast_famousonline %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

	  <!-- TODO -->

      <!-- content end -->
      
    </div>
  </section>
</div>