<div class="col-md-12">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_mail_query %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_mail_query %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->
      
      <form id="read-mail">
        <div class="col-md-12 form-group mb-lg">
          <label>清理邮件中设置错误的奖励物品, 避免玩家领取错误邮件, 不存在的奖励物品, 统一设置为["i001", 1](一个金币)</label>
        </div>
      </form>
      <button id="btn-clear-mail" class="btn btn-primary hidden-xs">清理邮件</button>

      <!-- content end -->
      
    </div>
  </section>
</div>