{
    "extends": ["eslint:recommended"],
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules":{
        "semi": [2, "always"],
        "no-unused-vars": [0, {"vars": "all", "args": "after-used"}]
    },
    "globals": {
        "logger": true,
        "utils": true,
        "CONSTS":true,
        "redisConnector": true,
        "Promise": true,
        "mysqlConnector": true,
        "mysqlPool": true,
        "cache": true,
        "answer": true,
        "redisClient": true,
        "exports":true,
        "loggerEx":true,
        "redisSync":true,
        "myDao":true,
        "logGold":true,
        "logDiamond":true,
        "logLogin":true,
        "logHuafei":true,
        "logBuilder":true
    }
}