<!doctype html>
<html class="fixed">
	<head>
    <% include include/head.ejs %>
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
      <% include include/header.ejs %>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
        <% include include/sidebar.ejs %>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>
              <%= txt_payuser %>
            </h2>
					</header>

					<!-- start: page -->

          <div class="row">
            <% include include/date-selector.ejs %>
          </div>

          <div class="row">
			<% include include/sm/payuser-chart.ejs %>
          </div>

          <div class="row">
			<% include include/sm/payuser-table.ejs %>
          </div>

          <div class="row">
			<% include include/sm/payuser-rank.ejs %>
          </div>

          <div class="row">
			<% include include/sm/carduser-list.ejs %>
          </div>

					<!-- end: page -->
				</section>
			</div>

		</section>
    <% include include/script.ejs %>

    <!-- Page Related -->
    <% include include/admin_script.ejs %>
    <script src="../fjds/javascript/util/date_selector.js"></script>
    <script src="../fjds/javascript/admin/pages_payuser.js"></script>
	</body>
</html>