<!doctype html>
<html class="fixed">
	<head>
    <% include include/head.ejs %>
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
      <% include include/header.ejs %>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
        <% include include/sidebar.ejs %>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>
							<!-- 奖池总览和玩家信息列表 -->
              <%= txt_om_control %>
            </h2>
					</header>
					<!-- start: page -->
					
          <div class="row col-md-12">
            <% include include/om/control_pool.ejs %>
            <% include include/om/control_player.ejs %>
          </div>

          <div class="row col-md-12">
            <% include include/om/control_profit_chart.ejs %>
            <% include include/om/control_loss_chart.ejs %>
          </div>

					<!-- end: page -->
				</section>
			</div>

		</section>
    <% include include/script.ejs %>

    <!-- Page Related -->
    <% include include/admin_script.ejs %>
    <script src="../fjds/javascript/util/date_selector.js"></script>
    <script src="../fjds/javascript/admin/pages_om_control.js"></script>
	</body>
</html>