<!doctype html>
<html class="fixed">
	<head>
		<% include include/head.ejs %>
	</head>
	<body>
		<!-- start: page -->
		<section class="body-sign">
			<div class="center-sign">
				<a href="/admin/pages-signin.html" class="logo pull-left">
					<img src="../fjds/assets/images/logo.png" height="60" alt="Fishjoy Admin" />
				</a>

				<div class="panel panel-sign">
					<div class="panel-title-sign mt-xl text-right">
						<h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i> 管理员登录</h2>
					</div>
					<div class="panel-body">

            <!-- Form -->
            <form id="form-signup-nickname-account">
              <div class="form-group mb-lg">
                <label>输入用户名</label>
                <input id="input-username" name="username" type="text" class="form-control input-lg" />
              </div>

              <div class="form-group mb-lg">
                <label>输入密码</label>
                <input id="input-password" name="password" type="password" class="form-control input-lg" />
              </div>
            </form>
            <button id="btn-signin" type="submit" class="btn btn-primary hidden-xs">登录</button>

					</div>
				</div>
			</div>
		</section>
		<!-- end: page -->
    <% include include/script.ejs %>

    <!-- Page Related -->
      <% include include/admin_script.ejs %>
    <script src="../fjds/javascript/admin/pages_signin.js"></script>

	</body>
</html>