            <div class="col-md-12">
              <section class="panel">
                <header class="panel-heading">
                  <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                  </div>

                  <h2 class="panel-title">
                    <%= txt_title_table %>
                  </h2>
                  <p class="panel-subtitle">
                    <%= txt_content_table %>
                    </p>
                </header>
                <div class="panel-body">

                  <table style="width: 100%;" class="table-striped table-bordered" id="query-table">
                    <tr>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        付费日期
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        活跃用户
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        充值人数
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        充值次数
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        充值金额
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        首次付费玩家
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        首日付费玩家
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        付费率
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        ARPU
                      </th>
                      <th class="cell-padding cell-align-center cell-head"
                          style="border: solid thin #eeeeee;background-color: #dfdfdf;">
                        ARPPU
                      </th>
                    </tr>
                    <tr id="fake-data">
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">log_date</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">new_account</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">user_count</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">pay_count</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">pay_sum</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">ftpc</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">fdpc</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">pay_rate</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">arpu</td>
                      <td style="border: solid thin #eeeeee" class="cell-padding cell-align-center">arppu</td>
                    </tr>
                  </table>
                  
                </div>
              </section>
            </div>