<div class="col-md-12">
  <section class="panel panel-collapsed">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_gold_log %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_gold_log %>
      </p>
    </header>
    <div class="panel-body">

      <!-- Form1 -->
      <form id="mail-setting">
        <div class="col-md-12 form-group mb-lg">
          <label>玩家的ID</label>
          <input id="input-gl-account-id" name="account_id" type="text" class="form-control input-lg" value="" />
        </div>
      </form>
      <button id="btn-gold-log" class="btn btn-primary hidden-xs">获取服务器缓存中的金币记录</button>
      
    </div>
  </section>
</div>