<div class="col-md-6">
  <section class="panel panel-collapsed">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_systime %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_systime %>
      </p>
    </header>
    <div class="panel-body">

      <div class="col-md-12 form-group mb-lg">
        <label>设置日期(格式: 2017-08-08)</label>
        <input id="input-systime-date" name="date" type="text" class="form-control input-lg" value="2017-08-08" />
      </div>

      <div class="col-md-12 form-group mb-lg">
        <label>设置时间(格式: 10:21:00)</label>
        <input id="input-systime-time" name="time" type="text" class="form-control input-lg" value="10:21:00" />
      </div>

      <div class="col-md-12 form-group mb-lg">
        <button id="btn-systime-set" class="btn btn-primary hidden-xs">设置</button>
      </div>
      
    </div>
  </section>
</div>