<div class="col-md-6">
  <section class="panel panel-collapsed">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_cdkey %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_cdkey %>
      </p>
    </header>
    <div class="panel-body">


      <!-- Form -->
      <form>
        <div class="form-group mb-lg">
          <label>输入CD-KEY</label>
          <input id="input-use-cdkey" name="cdkey" type="text" class="form-control input-lg" />
        </div>
      </form>

      <button id="btn-use-cdkey" class="btn btn-primary hidden-xs">使用</button>
      
    </div>
  </section>
</div>