<div class="col-md-6">
  <section class="panel panel-collapsed">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_shop %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_shop %>
      </p>
    </header>
    <div class="panel-body">

      <form id="add-shop-log">

        <div class="form-group mb-lg">
          <label>物品ID(例: 2)</label>
          <input id="input-item-id" name="item_id" type="text" class="form-control input-lg" />
        </div>

        <div class="form-group mb-lg">
          <label>物品类型(礼品0，金币1，珍珠2，VIP3, 例: 0)</label>
          <input id="input-item-type" name="item_type" type="text" class="form-control input-lg" />
        </div>

        <div class="form-group mb-lg">
          <label>物品数量(买几个金币就是几个, 例: {"gold":2000,"pearl":20})</label>
          <input id="input-item-amount" name="item_amount" type="text" class="form-control input-lg" />
        </div>

        <div class="form-group mb-lg">
          <label>购买后的物品总量(金币就传金币总量，珍珠就传珍珠总量, 例: {"gold":3000,"pearl":30})</label>
          <input id="input-item-total" name="total" type="text" class="form-control input-lg" />
        </div>
      </form>
      <button id="btn-add-shop-log" type="submit" class="btn btn-primary hidden-xs">发送记录</button>
      
    </div>
  </section>
</div>