<div class="col-md-6">
  <section class="panel">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_server_dbsave %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_server_dbsave %>
        </p>
    </header>
    <div class="panel-body">

      <!-- content start -->

      <button id="btn-dbsave-count" type="submit" class="btn btn-primary hidden-xs">获取缓存中的玩家数量</button>
      <button id="btn-dbsave-list" type="submit" class="btn btn-primary hidden-xs">列表缓存中的玩家账号</button>
      <button id="btn-dbsave-save" type="submit" class="btn btn-primary hidden-xs">保存玩家数据到数据库</button>
      <button id="btn-reset-active" type="submit" class="btn btn-primary hidden-xs">重置玩家活动数据</button>

      <!-- content end -->
      
    </div>
  </section>
</div>