		<!-- Basic -->
		<meta charset="UTF-8">

		<title><%= title %></title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="../fjds/assets/vendor/bootstrap/css/bootstrap.css" />

		<link rel="stylesheet" href="../fjds/assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../fjds/assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="../fjds/assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="../fjds/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="../fjds/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="../fjds/assets/vendor/morris/morris.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../fjds/assets/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../fjds/assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../fjds/assets/stylesheets/theme-custom.css">

		<!-- Head Libs -->
		<script src="../fjds/assets/vendor/modernizr/modernizr.js"></script>